.container-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000007a;
    z-index: 1;
    display: flex;
    transition: 0.5s all;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    z-index: -1;

    .modal{
        background-color: #fff;
        padding: 2rem;
        text-align: center;

        p{
            padding: 2rem;
        }
    }
}

.show{
    opacity: 1;
    z-index: 1;
}

