.BottonRightImage{
    right: 0;
    bottom: -130px;
    position: fixed;
    width: 100px;
    transition: 0.5s all;
}

/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 600px) {
    .BottonRightImage {
        width: 100px;        
        bottom: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 800px) {
    .BottonRightImage {
        width: 120px;        
        bottom: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}